<form action="/packages" method="post">
    <h2>To calculate the shipping cost we will need the following information:</h2> 
  <label for="height">Add a new package height</label>
  <input required id="height" name="height" type="number">

  <label for="width">Add a new package width</label>
  <input required id="width" name="width" type="number">

  <label for="weight">Add a new package weight</label>
  <input required id="weight" name="weight" type="number">

  <label for="to">Add where your package is going</label>
  <input required id="to" name="to" type="text">

  <label for="from">Add where your package is from</label>
  <input required id="from" name="from" type="text">

  <button type="submit">Submit</button>
</form>